services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    volumes:
      - cassandra_data:/var/lib/cassandra
    environment:
      - CASSANDRA_CLUSTER_NAME=LocalCluster
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1

volumes:
  cassandra_data: